@model int

@switch (@Model)
    {
    case 1:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(1)</td>
        break;
    case 2:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(2)</td>
        break;
     case 3:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(3)</td>
        break;
    case 4:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(4)</td>
        break;
    case 5:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(5)</td>
        break;
    case 6:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(6)</td>
        break;
    case 7:
        <td rowspan="2" class="vertical-center">8.00 - 9.40(7)</td>
        break;
    }